.layout {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Evita scroll horizontal durante la animación */
}

/* El contenedor del sidebar ajusta su ancho suavemente */
.sidebar {
  width: 250px; 
  background: #233790;
  transition: width 0.3s ease;
  position: relative;
}

/* Cuando el Dashboard tiene esta clase, el hueco del sidebar desaparece */
.sidebar-closed .sidebar {
  width: 0;
}

.main-content {
  flex: 1;
  background: #f3f4f6;
  overflow-y: auto;
  transition: all 0.3s ease;

  /* --- CAMBIA EL PADDING ASÍ --- */
  padding: 75px 22px 22px 22px;  

  /* Asegúrate de que el alto sea el de la pantalla */
  height: 100vh; 
  box-sizing: border-box; /* Fundamental para que el padding no rompa el layout */
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;;
}

/* Clases de utilidad para las cards */
.span-3 { grid-column: span 3; }
.span-4 { grid-column: span 4; }
.span-6 { grid-column: span 6; }
.span-8 { grid-column: span 4; }

.card-sm { min-height: 190px; }
.card-md { min-height: 200px; }
.card-lg { min-height: 270px; }

.card {
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

@media (max-width: 900px) {
  .span-3, .span-4, .span-6, .span-8 {
    grid-column: span 12;
  }
}