@font-face {
  font-family: 'Links';
  src: url('/fonts/indivisa_display_sans-regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Links', sans-serif;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.main-content {
  flex: 1;
  overflow-y: auto;
}